.externalLinks{
  height: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.externalLink{
  height: 26px;
  width: 26px;
  background-color: none;
  margin: 12px;
  cursor: pointer;
}

.externalLink:hover{
  filter: invert(85%) sepia(44%) saturate(2152%) hue-rotate(185deg) brightness(108%) contrast(103%);
}

.logo{
  width: inherit;
  height: inherit;
}

.portfolioLink{
  height: 26px;
  margin: 12px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14pt;
  font-weight: bold;

  border: solid;
  border-color: var(--colour-two);
  border-radius: 2px;
  background-color: var(--colour-two);
  color: var(--colour-one);

  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioLinkInner{
  display: flex;
  justify-content: center;
  align-items: center;
}